<!-- <app-header></app-header> -->
<div class="container">
    <div class="saludo">
            <h2>Mis Entregas</h2>
        </div>
        <div class="clear"></div>

        <div class="tab-content-set">
        <ul class="nav">
            <li>
                <a href="#" onclick="return false;" [ngClass]="{'active': option_selectedd == 1}"
                    (click)="optionSelected(1)">
                    <h3> {{'Pendientes'}}</h3>
                </a>
            </li>
            <li>
                <a href="#" onclick="return false;" [ngClass]="{'active': option_selectedd == 2}"
                    (click)="optionSelected(2)">
                    <h3>{{'Entregadas'}}</h3>
                </a>
            </li>
        </ul>
    </div>

    <div *ngIf="option_selectedd == 1">
        <div class="list_products">
            <app-order-list></app-order-list>
        </div>
    </div>
    <div *ngIf="option_selectedd == 2">
        <div class="list_products">
            <app-order-list></app-order-list>
        </div>
    </div>
        
</div>
<app-menufooter></app-menufooter>