<div class="container">
    <div class="saludo">
        <h2>Hola!, Diver</h2>
    </div>

    <div class="product_list">
        <div class="div1">
            <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="">
        </div>
        <div class="div2">
            <h3>Driver #92287157</h3>
            <p>Driver Delivery</p>
            <h4>Activo</h4>
        </div>
        <div class="div3">
            <a href="delivery-status.html">
                <button class="boton_azul_borde">Editar</button>
            </a>
        </div>
    </div>
    <div class="product_list">
        <div class="div1">
            <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="">
        </div>
        <div class="div2">
            <h3>Camaro</h3>
            <h3>Chevrolet</h3>
            <h4>Rojo</h4>
            <p>2015</p>
        </div>
    </div>

    <div class="num_tracking">
        <i class="fa fa-list"></i>
        <h3>Numero de licencia</h3>
        <p>LGS-i9292783</p>
    </div>

    <div class="avisos">
        <p>Tienes nuevas entregas por atender</p>
        <i class="fa fa-info-circle" aria-hidden="true"></i>
    </div>
    <div class="barra_progreso ">

        <div class="circulo_inicio"></div>
        <div class="circulo_progreso"></div>
        <div class="circulo_llegada"></div>
        <div class="barra_progreso__barra"></div>
    </div>
</div>
<app-menufooter></app-menufooter>