<app-loading *ngIf="isLoading"></app-loading>
<div class="container" *ngIf="!isLoading">
    <div class="saludo" >
        <h2>Hola!, {{identity.first_name}}</h2>
    </div>

    <div class="product_list" >
        <div class="div1">
            <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="">
        </div>
        <div class="div2">
            <h3>{{identity.first_name}} {{identity.last_name}} </h3>
            <p>{{identity.numdoc}}</p>
            <p>{{identity.role}}</p>
            <h4>Activo</h4>
        </div>
        <div class="div3">
            <a [routerLink]="['/myprofile/', identity.uid]">
                <button class="boton_azul_borde">Editar</button>
            </a>
        </div>
    </div>

     <app-aviso *ngIf="!driver" [aviso]="'Agrega Información de tu vehiculo'"></app-aviso>
    <div class="product_list" *ngIf="driver">
        <div class="div1">
            <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="">
        </div>
        <div class="div2">
            <h3>Camaro</h3>
            <h3>Chevrolet</h3>
            <h4>Rojo</h4>
            <p>2015</p>
        </div>
    </div>

    <div class="num_tracking" *ngIf="driver">
        <i class="fa fa-list"></i>
        <h3>Numero de licencia</h3>
        <p>LGS-i9292783</p>
    </div>

    <app-aviso *ngIf="driver" [aviso]="'Tienes nuevas entregas por atender'"></app-aviso>
    <div class="barra_progreso ">

        <div class="circulo_inicio"></div>
        <div class="circulo_progreso"></div>
        <div class="circulo_llegada"></div>
        <div class="barra_progreso__barra"></div>
    </div>
</div>
<app-menufooter></app-menufooter>