<app-loading *ngIf="isLoading"></app-loading>
<div class="container" *ngIf="!isLoading">
    <div class="saludo">
        <h2>Detalle de la Entrega</h2>
    </div>

     <!-- <app-aviso  [aviso]="'Tienes nuevas entregas por atender'"></app-aviso> -->
   
    <div class="product_list">
        <div class="div1">
            <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="">
        </div>
        <div class="div2">
            <h5>Order</h5>
            <h3>#92287157</h3>
            <h5>Empacado</h5>
            <p>Standard Delivery</p>
        </div>
        <div class="div3 botonera">
            <button class="boton_azul_borde" *ngIf="identity.role ==='CHOFER'">Aplicar</button>
            <a routerLink="/delivery-status" *ngIf="identity.role ==='USER'">
                <button class="boton_azul_borde">Status</button>
            </a>
            <a routerLink="/mapa-page">
                <button class="boton_azul_borde">Mapa</button>
            </a>
        </div>
    </div>

    <h4 *ngIf="identity.role ==='CHOFER'">Info Despacho</h4>
    
    <div class="product_list" *ngIf="identity.role ==='CHOFER'">
        <div class="div1">
            <img src="../assets/img/user.png" alt="">
        </div>
        <div class="div2">
            <h5>Farmatodo</h5>
            <h3>Sambil</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <div class="div3">
            <!-- <p> Llamar </p> -->
            <a href="delivery-status.html">
                <button class="boton_azul_borde">LLamar</button>
            </a>
        </div>
    </div>
    <h4 *ngIf="identity.role ==='CHOFER'">Info Destino</h4>
     <div class="product_list" *ngIf="identity.role ==='CHOFER'">
        <div class="div1">
            <img src="../assets/img/user.png" alt="">
        </div>
        <div class="div2">
            <p>Av. Andres Bello </p>
            <h4>$10.00</h4>
            <h5>Pendiente</h5>

        </div>
        <div class="div3">
            <!-- <p> Llamar </p> -->
            <a href="delivery-status.html">
                <button class="boton_azul_borde">LLamar</button>
            </a>
        </div>
    </div>
    <h4 *ngIf="identity.role ==='USER'">Info Chofer</h4>
     <div class="product_list" *ngIf="identity.role ==='USER'">
        <div class="div1">
            <img src="../assets/img/user.png" alt="">
        </div>
        <div class="div2">
            <h4>Pepito Driver</h4>
            <p>Av. Andres Bello </p>
            <h5>En camino</h5>

        </div>
        <div class="div3">
            <!-- <p> Llamar </p> -->
            <a href="delivery-status.html">
                <button class="boton_azul_borde">LLamar</button>
            </a>
        </div>
    </div>


    <!-- <div class="barra_progreso ">
            
            <div class="circulo_inicio"></div>
            <div class="circulo_progreso"></div>
            <div class="circulo_llegada"></div>
            <div class="barra_progreso__barra"></div>
        </div> -->
        <div class="num_tracking">
            <i class="fa fa-list"></i>
            <h3>Numero de Trackig</h3>
            <p>LGS-i92927839300763731</p>
        </div>
        <div class="status">
            <h1>Lista entrega</h1>
            <div class="empacado">
                <ul>
                    <li>item articulo x 3</li>
                <li>item articulo x 3</li>
                <li>item articulo x 3</li>
                <li>item articulo x 3</li>
                <li>item articulo x 3</li>
                <li>item articulo x 3</li>
                <li>item articulo x 3</li>
                <li>item articulo x 3</li>
            </ul>
            </div>
        </div>
        <div class="status" style="margin-bottom: 80px;">
            <h1>Status Entrega</h1>
            <div class="empacado">
                <h2>Empacado</h2>
                <p>fecha de movimiento</p>
                <p>Los Artículos ya estan empacados para despacho.</p>
            </div>
            <!-- <div class="empacado">
                <h2>En Camino</h2>
                <p>fecha de movimiento</p>
                <p>Your parcel is packed and will be handed over to our delivery partner.</p>
            </div> -->
            <!-- <div class="empacado">
                <h2>Entregado</h2>
                <p>fecha de movimiento</p>
                <p>Your parcel is packed and will be handed over to our delivery partner.</p>
            </div> -->
            <!-- <div class="mapa"></div> -->
            <!-- <button class="boton_azul">
                Calificar
            </button> -->
        </div>
</div>
<app-menufooter></app-menufooter>