<div class="container">
    <div class="saludo">
        <h2>Detalle de la Entrega</h2>
    </div>

    <div class="avisos" style="margin-bottom: 20px;">
        <p>Tienes nuevas entregas por atender</p>
        <i class="fa fa-info-circle" aria-hidden="true"></i>
    </div>
   
    <div class="product_list">
        <div class="div1">
            <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="">
        </div>
        <div class="div2">
            <h3>Order #92287157</h3>
            <p>Standard Delivery</p>
            <h4>en camino</h4>
        </div>
        <div class="div3 botonera">
            <button class="boton_azul_borde">Aplicar</button>
            <a routerLink="/mapa-page">
                <button class="boton_azul_borde">Mapa</button>
            </a>
        </div>
    </div>
    <div class="product_list">
        <div class="div1">
            <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="">
        </div>
        <div class="div2">
            <h4>Pedro Perez</h4>
            <h3>#92287157</h3>
            <p>ci-1258782</p>
        </div>
        <div class="div3">
            <!-- <p> Llamar </p> -->
            <a href="delivery-status.html">
                <button class="boton_azul_borde">LLamar</button>
            </a>
        </div>
    </div>

     


    <div class="barra_progreso ">
            
            <div class="circulo_inicio"></div>
            <div class="circulo_progreso"></div>
            <div class="circulo_llegada"></div>
            <div class="barra_progreso__barra"></div>
        </div>
        <div class="num_tracking">
            <i class="fa fa-list"></i>
            <h3>Numero de Trackig</h3>
            <p>LGS-i92927839300763731</p>
        </div>
        <div class="status">
            <h1>Lista entrega</h1>
            <div class="empacado">
                <ul>
                    <li>item articulo x 3</li>
                <li>item articulo x 3</li>
                <li>item articulo x 3</li>
                <li>item articulo x 3</li>
                <li>item articulo x 3</li>
                <li>item articulo x 3</li>
                <li>item articulo x 3</li>
                <li>item articulo x 3</li>
            </ul>
            </div>
        </div>
        <div class="status" style="margin-bottom: 80px;">
            <h1>Status Entrega</h1>
            <div class="empacado">
                <h2>Empacado</h2>
                <p>fecha de movimiento</p>
                <p>Your parcel is packed and will be handed over to our delivery partner.</p>
            </div>
            <!-- <div class="empacado">
                <h2>En Camino</h2>
                <p>fecha de movimiento</p>
                <p>Your parcel is packed and will be handed over to our delivery partner.</p>
            </div> -->
            <!-- <div class="empacado">
                <h2>Entregado</h2>
                <p>fecha de movimiento</p>
                <p>Your parcel is packed and will be handed over to our delivery partner.</p>
            </div> -->
            <!-- <div class="mapa"></div> -->
            <!-- <button class="boton_azul">
                Calificar
            </button> -->
        </div>
</div>
<app-menufooter></app-menufooter>