<app-loading *ngIf="isLoading"></app-loading>

<!-- Page Content-->
<div class="container " *ngIf="!isLoading">
   <div class="back-title">
        <div class="saludo">
            <h2>Editando Perfil: {{identity.first_name}}</h2>
        </div>
        <a routerLink="/myprofile">
            <button class="boton_azul_borde">Volver</button>
        </a>
    </div>
    <div class="tab-content-set">
        <ul class="nav">
            <li>
                <a href="#" onclick="return false;" [ngClass]="{'active': option_selectedd == 1}"
                (click)="optionSelected(1)"><h3> {{'Perfil'}}</h3></a>
            </li>
            <li *ngIf="isDriver">
                <a href="#" onclick="return false;" [ngClass]="{'active': option_selectedd == 2}"
                (click)="optionSelected(2)"><h3>{{'Driver'}}</h3></a>
            </li>
        </ul>
    </div>
    
    <div *ngIf="option_selectedd == 1">

        <div class="product_list">
            <div class="div1">
                <img [src]="(identity.img ?? '') | imagenPipe: 'usuarios'" [alt]="identity.first_name">
            </div>
            <div class="div2">
                <h3>{{identity.first_name}} {{identity.last_name}} </h3>
                <p>{{identity.numdoc}}</p>
                <p>{{identity.role}}</p>
                <h4>Activo</h4>
            </div>
        </div>

        <div class="num_tracking">
            <!-- Content  -->
            <section class="col-lg-8">

                <!-- Profile form-->
                <div class="col-sm-12" *ngIf="msm_error">
                    <div class="form-group">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert"
                            (click)="close_alert()">
                            <span class="font-weight-medium">Error:</span> Por favor complete el formulario
                            correctamente.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" *ngIf="msm_success">
                    <div class="form-group">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <span class="font-weight-medium">Mensaje:</span> Se actualizó sus datos correctamente.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                (click)="close_alert()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>

                <form [formGroup]="perfilForm" *ngIf="!isLoading">
                    <!-- datos -->
                    <div class="row">
                        <!-- Foto -->
                        <div style="height: auto; margin-bottom: 20px;">
                            <div class="col-xs-12 col-sm-">
                                <div class="form-group">
                                    <div class="cz-file-drop-area">
                                        <label for="file" class="upload labelgoogle">
                                            <input type="file" accept="image/*" name="image" id="file"
                                                (change)="cambiarImagen($any($event.target).files?.[0])"
                                                class="hide-input input">
                                            <span class="label__name">
                                                {{'Select a Photo'}}
                                            </span>
                                        </label>
                                        <button type="button" [disabled]="!imagenSubir" (click)="subirImagen()"
                                            class="boton_azul_borde ">
                                            <i class="fa fa-save"></i> Cambiar imagen
                                        </button>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <br>
                        <div class="col-xs-12 col-sm-12 col-md-9">
                            <div class="row ">
                                <!-- Nombre -->
                                <div class="col-md-4 ">
                                    <label for="validationCustom02" class="form-label labelgoogle">
                                        <input type="text" formControlName="first_name" class="form-control input"
                                            id="validationCustom02" placeholder=" " required>
                                        <span class="label__name">
                                            {{'Nombre'}} <span class="login-danger">*</span>
                                        </span>
                                    </label>
                                    @if(perfilForm.controls['first_name'].touched){

                                    <div class="text-danger">
                                        @if(perfilForm.controls['first_name'].errors?.['required']){
                                        <span>{{'Field Required'}}</span>
                                        }
                                        @if(perfilForm.controls['first_name'].errors?.['minlength']){
                                        <span>{{'3 Charecters Minimal'}}</span>
                                        }
                                    </div>
                                    }
                                </div>
                                <!-- Apellido -->
                                <div class="col-md-4 ">
                                    <label for="validationCustom02" class="form-label labelgoogle">
                                        <input type="text" formControlName="last_name" class="form-control input"
                                            id="validationCustom02" placeholder=" " required>
                                        <span class="label__name">
                                            {{'Apellido'}} <span class="login-danger">*</span>

                                        </span>
                                    </label>
                                    @if(perfilForm.controls['last_name'].touched){

                                    <div class="text-danger">
                                        @if(perfilForm.controls['last_name'].errors?.['required']){
                                        <span>{{'Field Required'}}</span>
                                        }
                                        @if(perfilForm.controls['last_name'].errors?.['minlength']){
                                        <span>{{'3 Charecters Minimal'}}</span>
                                        }
                                    </div>
                                    }
                                </div>
                                <!-- Identificación -->
                                <div class="col-md-4 ">
                                    <label for="validationCustom02" class="form-label labelgoogle">
                                        <input type="text" formControlName="numdoc" class="form-control input"
                                            id="validationCustom02" placeholder=" " required>
                                        <span class="label__name">
                                            {{'Id Number'}}<span class="login-danger">*</span>
                                        </span>
                                    </label>
                                    @if(perfilForm.controls['numdoc'].touched){

                                    <div class="text-danger">
                                        @if(perfilForm.controls['numdoc'].errors?.['required']){
                                        <span>{{'Field Required'}}</span>
                                        }
                                        @if(perfilForm.controls['numdoc'].errors?.['minlength']){
                                        <span>{{'3 Charecters Minimal'}}</span>
                                        }
                                    </div>
                                    }
                                </div>
                                <!-- Teléfono Casa -->
                                <!-- <div class="col-md-4 ">
                                <label for="validationCustom02" class="form-label labelgoogle">
                                    <input type="text" formControlName="telhome" class="form-control input"
                                        id="validationCustom02" placeholder=" " required>
                                    <span class="label__name">
                                        {{'Phome Home'}}<span class="login-danger">*</span>
                                    </span>
                                </label>
                                @if(perfilForm.controls['telhome'].touched){

                                <div class="text-danger">
                                    @if(perfilForm.controls['telhome'].errors?.['required']){
                                    <span>{{'Field Required'}}</span>
                                    }
                                    @if(perfilForm.controls['telhome'].errors?.['minlength']){
                                    <span>{{'3 Charecters Minimal'}}</span>
                                    }
                                </div>
                                }
                            </div> -->
                                <!-- Teléfono Móvil -->
                                <div class="col-md-4 ">
                                    <label for="validationCustom02" class="form-label labelgoogle">
                                        <input type="text" formControlName="telefono" class="form-control input"
                                            id="validationCustom02" placeholder=" " required>
                                        <span class="label__name">
                                            {{'Teléfono Móvil'}}<span class="login-danger">*</span>
                                        </span>
                                    </label>
                                    @if(perfilForm.controls['telefono'].touched){

                                    <div class="text-danger">
                                        @if(perfilForm.controls['telefono'].errors?.['required']){
                                        <span>{{'Field Required'}}</span>
                                        }
                                        @if(perfilForm.controls['telefono'].errors?.['minlength']){
                                        <span>{{'3 Charecters Minimal'}}</span>
                                        }
                                    </div>
                                    }
                                </div>
                                <!-- Ciudad -->
                                <div class="col-md-4 ">
                                    <label for="validationCustom02" class="form-label labelgoogle">
                                        <input type="text" formControlName="ciudad" class="form-control input"
                                            id="validationCustom02" placeholder=" " required>
                                        <span class="label__name">
                                            {{'City'}}<span class="login-danger">*</span>
                                        </span>
                                    </label>
                                    @if(perfilForm.controls['ciudad'].touched){

                                    <div class="text-danger">
                                        @if(perfilForm.controls['ciudad'].errors?.['required']){
                                        <span>{{'Field Required'}}</span>
                                        }
                                        @if(perfilForm.controls['ciudad'].errors?.['minlength']){
                                        <span>{{'3 Charecters Minimal'}}</span>
                                        }
                                    </div>
                                    }
                                </div>

                                <!-- País -->
                                <div class="col-md-4 ">
                                    <div class="input-group form-label labelgoogle">
                                        <!-- <label for="validationCustom02" class="form-label">{{'Country'}}</label> -->
                                        <!-- <span class="label__name">
                                        {{'Pais'}}<span class="login-danger">*</span>
                                    </span> -->
                                        <select class="form-control" formControlName="pais">
                                            <option [value]=" ">Seleccione Pais</option>
                                            <option *ngFor="let data of paises" [value]="data.pais">
                                                {{data.pais}}
                                            </option>
                                        </select>


                                    </div>
                                    @if(perfilForm.controls['pais'].touched){

                                    <div class="text-danger">
                                        @if(perfilForm.controls['pais'].errors?.['required']){
                                        <span>{{'Field Required'}}</span>
                                        }
                                        @if(perfilForm.controls['pais'].errors?.['minlength']){
                                        <span>{{'3 Charecters Minimal'}}</span>
                                        }
                                    </div>
                                    }
                                </div>

                                <!-- Género -->
                                <!-- <div class="col-12 col-md-4  col-xl-4">
                                <div class="form-group select-gender input-group gap-3">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </span>
                                    <div class="form-check-inline ">
                                        <label class="form-check-label ">
                                            <input type="radio" [value]="'1'" formControlName="gender"
                                                class="form-check-input ">{{'Male'}}
                                        </label>
                                    </div>
                                    <div class="form-check-inline ">
                                        <label class="form-check-label ">
                                            <input type="radio" [value]="'2'" formControlName="gender"
                                                class="form-check-input ">{{'Female'}}
                                        </label>
                                    </div>
                                </div>
                            </div> -->
                                <!-- Lang -->
                                <!-- <div class="col-12 col-md-4  col-xl-4">
                                        <div class="form-group select-gender input-group gap-3">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                            </span>
                                            <div class="form-check-inline ">
                                                <label class="form-check-label ">
                                                    <input type="radio"  [value]="'es'" (change)="cambiarLenguaje('es')" formControlName="lang" class="form-check-input ">{{'Spanish'}}
                                                </label>
                                            </div>
                                            <div class="form-check-inline ">
                                                <label class="form-check-label ">
                                                    <input type="radio"  [value]="'en'" (change)="cambiarLenguaje('en')" formControlName="lang" class="form-check-input ">{{'English'}}
                                                </label>
                                            </div>
                                        </div>
                                      </div> -->

                                <!-- Dirección -->
                                <!-- <div class="col-12  col-sm-6">
                                <label for="validationCustom02" class="form-label ">{{'Direccion'}}</label>
                                <textarea formControlName="direccion" class="form-control" id="validationCustom02"
                                    required></textarea>
                                @if(perfilForm.controls['direccion'].touched){

                                <div class="text-danger">
                                    @if(perfilForm.controls['direccion'].errors?.['required']){
                                    <span>{{'Field Required'}}</span>
                                    }
                                    @if(perfilForm.controls['direccion'].errors?.['minlength']){
                                    <span>{{'3 Charecters Minimal'}}</span>
                                    }
                                </div>
                                }
                            </div> -->
                                <!-- Descripción -->
                                <!-- <div class="col-12 col-sm-6">
                                <label for="validationCustom02" class="form-label">{{'Description'}}</label>
                                <textarea formControlName="description" class="form-control" id="validationCustom02"
                                    required></textarea>
                                @if(perfilForm.controls['description'].touched){

                                <div class="text-danger">
                                    @if(perfilForm.controls['description'].errors?.['required']){
                                    <span>{{'Field Required'}}</span>
                                    }
                                    @if(perfilForm.controls['description'].errors?.['minlength']){
                                    <span>{{'3 Charecters Minimal'}}</span>
                                    }
                                </div>
                                }
                            </div> -->



                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- Tarifas -->
                    <!-- <div class="row " *ngIf="user.role === 'CHOFER' " >
                            <details class="shadowSearch cuadrosearch">
                                <summary>{{'Price Sale'}}</summary>
                                <div class="row">
                                        
                                    <div class="col-12 col-sm-10">  
                                        <label class="labelgoogle">
                                            <input class="form-control input" name="item_tarifa" placeholder=" " [ngModelOptions]="{standalone: true}"  [(ngModel)]="item_tarifa" type="text" required>
                                            <span class="label__name">
                                                Item<span class="login-danger">*</span>
                                            </span>
                                        </label>
                                        <div class="form-group ">
    
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-2">
                                        <label class="labelgoogle">
                                            <input class="form-control input" name="precio" placeholder=" " [ngModelOptions]="{standalone: true}" [(ngModel)]="precio" type="number"  >
                                            <span class="label__name">
                                                {{'Price'}}<span class="login-danger">*</span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <button class="btn btn-primary btn-sm text-end " (click)="addMedicamento()">+ {{'Add'}}</button>
                                    </div>
                                </div>
                            </details>
                            
                            <div class="row align-items-center" >
                                
                                <div class="col-xs-12 ">
                                    <div class="table-responsive">
                                        <table class="table mb-0 table-striped">
                                            <thead>
                                                <tr>
                                                    <th>{{'Description'}}</th>
                                                    <th>{{'Price'}}</th>
                                                    <th>{{'Action'}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of tarifas ; let i=index">
                                                    <td>
                                                         {{item.item_tarifa}}
                                                        
                                                    </td>
                                                    <td>
                                                        {{item.precio  | currency }}
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger btn-sm text-end" (click)="deleteMedical(i)">x</button>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div> -->
                    <!-- Tarifas -->

                    <div class="row align-items-center">
                        <div class="col-12">
                            <a [routerLink]="['/myprofile/',]">
                                <button class="boton_azul_borde">Volver</button>
                            </a>
                            <div class="doctor-submit text-end">
                                <button type="button" class="boton_azul_borde"
                                    (click)="onUserSave()">{{'Save'}}</button>

                            </div>
                        </div>
                    </div>


                </form>

            </section>
        </div>

    </div>
    <div *ngIf="option_selectedd == 2">
        <app-driverp-edit [identity]="identity"></app-driverp-edit>
    </div>
</div>
