<app-header></app-header>
<div class="container" style="margin-bottom: 60px;" >
        <div class="saludo">
            <h2>Hola, Usuario!</h2>
        </div>

        <div class="avisos">
            <p>Tu producto llegara pronto</p>
            <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
        <div class="vistas-recientes">
            <h2>Vistas Recientes</h2>
            <div class="products_recents">
                <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="">
                <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="">
                <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="">
                <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="">
                <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="">
            </div>

        </div>
        <div class="pedidos_recientes">
            <h2>Pedidos Recientes</h2>
        </div>
        <div class="options_tabs">
            <div class="option">
                Por Pagar
            </div>
            <div class="option">
                Por Recibir
            </div>
            <div class="option">
                Por Review
            </div>
        </div>

        <div class="list_products">
            <div class="product_list">
                <div class="div1">
                    <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="">
                </div>
                <div class="div2">
                    <h3>Order #92287157</h3>
                    <p>Standard Delivery</p>
                    <h4>en camino</h4>
                </div>
                <div class="div3">
                    <p> 1 item</p>
                    <!-- <a href="delivery-status.html">
                        <button class="boton_azul_borde">Review</button>
                    </a> -->
                </div>
            </div>

            <div class="product_list">
                <div class="div1">
                    <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="">
                </div>
                <div class="div2">
                    <h3>Order #92287157</h3>
                    <p>Standard Delivery</p>
                    <h4>en camino</h4>
                </div>
                <div class="div3">
                    <p> 1 item</p>
                    <!-- <a href="delivery-status.html">
                        <button class="boton_azul_borde">Review</button>
                    </a> -->
                </div>
            </div>
            <div class="product_list">
                <div class="div1">
                    <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="">
                </div>
                <div class="div2">
                    <h3>Order #92287157</h3>
                    <p>Standard Delivery</p>
                    <h4>en camino</h4>
                </div>
                <div class="div3">
                    <p> 1 item</p>
                    <!-- <a href="delivery-status.html">
                        <button class="boton_azul_borde">Review</button>
                    </a> -->
                </div>
            </div>
            <a routerLink="/delivery-status">
                        <button class="boton_azul_borde">Revisar Delivery</button>
                    </a>
        </div>
    </div>
<app-menufooter></app-menufooter>
