
<app-header></app-header>
<div class="container" style="margin-bottom: 60px;" >
         <div class="saludo">
            <h2>Hola, Conductor!</h2>
        </div>

        <div class="avisos">
            <p>Tienes nuevas entregas por atender</p>
            <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
        <div class="vistas-recientes">
            <h2>Vistas Recientes</h2>
            <div class="products_recents">
                <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="" routerLink="/order-detail">
                <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="" routerLink="/order-detail">
                <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="" routerLink="/order-detail">
                <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="" routerLink="/order-detail">
                <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png" alt="" routerLink="/order-detail">
            </div>

        </div>
        

        <app-order-list></app-order-list>

        <a routerLink="/mis-entregas">
        <button class="boton_azul_borde">Revisar Delivery</button>
    </a>
    </div>
<app-menufooter></app-menufooter>

